.about-us-image img {
  width: 100%;
  height: auto;
}

.about-us-paragraph {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.about-us-text,
.about-us-image {

  @media all and (max-width: 560px) {
    width: 100%;
  }
}

.about-us-page {
  @media all and (min-width: 561px) {
    .row {
      display: flex;
      align-items: center;
    }
  }
}

.about-us-right-image {
  @media all and (min-width: 561px) {
    .row {
      flex-direction: row-reverse;
    }
  }
}
