.about-us-image img {
  width: 100%;
  height: auto;
}

.about-us-paragraph {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.about-us-text,
.about-us-image {

  @media all and (max-width: 768px) {
    width: 100%;
  }
}

.about-us-page {
  .row {
    display: flex;
    align-items: center;
  }
}
