.admin-page-icons {
  min-height: 120px;

  color: $footer-bg;
  text-align: center;
  margin-bottom: 1rem;

  img,
  .user-page-icon {
    max-height: 3rem;
    max-width: 100%;
  }

  @media all and (min-width: 365px) {
    min-height: 160px;
  }

  @media all and (min-width: 576px) {
    min-height: 90px;
  }

  @media all and (min-width: 680px) {
    display: flex;
   // justify-content: center;
    align-items: center;
  }

  .icon-title {
    display: inline-block;
    margin: 0.5rem auto;
    width: 100%;
    display: flex;
    justify-content: center;

    @media all and (min-width: 680px) {
      margin: 0.5rem;
      width: auto;
    }

  }
}

.admin-icon-item {
  display: block;
  min-height:80px;
  max-width: 200px;
}

.homepage-properties-edit {
  padding-left: 0;
}




.properties-side.left-side-edit {
  height: auto;
  @media (max-width: 767px) {
    padding: 0 1rem;
  }
}

.about-us-description-edit {
  padding: 0;
}

.properties-right-side-edit.right-side {
  padding:1rem;
}

.registration-form-title-edit {
  margin-bottom: 0;
}