.download-content {
    padding: 0;

  @media all and (max-width: 344px) {
    margin-left: -15px;
  }
}


.faq-item-title {
  cursor: pointer;

    @media all and (max-width: 340px) {
    font-size: 19px;
  }

  .glyphicon {
    color: $footer-bg;
    top: 3px;
    padding-left: 4px;
    padding-right: 8px;
    transition: transform 0.5s linear;
  }
}

.faq-item-title.opened .glyphicon {
  transform: scaleY(-1);
}
.faq-item-title.closed .glyphicon {
  transform: scaleY(1);
}

.panel-default {
    border: 0;
}

.panel-default {
    border-color: transparent;
}

.panel-group .panel {
  margin-bottom: 24px;
  border: 0;
  box-shadow: none;
}

.faq-item-answer {
padding-left: 1rem;
}


