.handler-liste-wrapper {
  .role-item {
    &:first-child {
      margin-top: 0;
    }
  }

  .delete-item,
  .edit-item,
  a.delete-item,
  a.edit-item {
    position: absolute;
    right: 0;
    font-size: 28px;
    cursor: pointer;

    color: $text-color;

    @media all and (max-width: 619px) {
      top: 12px;
      right: 1rem;
    }
  }

  .delete-item {
    right: 4rem;
  }

}

.delete-item-modal {
  .modal-dialog {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .modal-content {
    flex: 1;
    margin: 0 1rem;
  }
}

.image-row {
  width: 320px;

  img {
    max-width: 320px;
    display: block;
    margin: auto;
  }
}

.info-row {
  padding: 3rem;
  text-align: center;
  position: relative;
  width: 320px;

  @media all and (min-width: 620px) {
    text-align: left;
    flex: 1;
    padding: 0 3rem;
    width: auto;
  }

  a {
    color: $footer-bg;

    &:hover,
    &:focus {
      color: $text-color;
    }
  }
}

.user-item {
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media all and (min-width: 620px) {
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
  }

}

.admin-page-icons.add-handler {
  min-height:4.5rem;
  display: block;
}