.prod-item-title {
  cursor: pointer;

  @media all and (max-width: 340px) {
    font-size: 19px;
  }

  .glyphicon {
    color: $footer-bg;
    top: 3px;
    padding-left: 4px;
    padding-right: 8px;
    transition: transform 0.5s linear;
  }
}

.num-of-items {
  text-align: center;
  display: inline-block;
}

.num-of-items-min,
.num-of-items-max {

  display: inline-block;
  color: $footer-bg;
  height: 22px;
  width: 22px;
  font-size: 22px;
  cursor: pointer;

}

.prod-category-items {
  th,
  td {
    word-wrap: break-word;
    padding: 4px;
    text-align: center;
  }

}

.num-of-items-wrapper {
  //display: flex;
  justify-content: center;
}

@media all and (max-width: 640px) {
  .num-of-items-wrapper {
    flex-direction: column;
  }

  .prod-category-items {
    table {
      width: 98%;
    }

    th,
    td {

      word-wrap: break-word;
      font-size: 12px;

      &:nth-child(2) {
        max-width: 12vw;
      }
    }
  }

  .num-of-items-min,
  .num-of-items-max {
    transform: rotate(90deg);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.prod-item-title.opened  .glyphicon {
  transform: scaleY(-1);
}
.prod-item-title.closed .glyphicon {
  transform: scaleY(1);
}

.add-another-button{
  cursor: pointer;
}

.count {
  text-align: center;
}

.send-order-btn {
  margin-top: 2rem;
}
