.product-menu-wrapper {
  display: block;

  @media all and (max-width: 767px){
    display: none;
  }
}

.product-colour-wrapper {
  .colour-item {
    display: inline-block;
    width: 64px;
    margin-right: 8px;
    text-align: center;
  }

  .colour-block {
    height: 32px;
  }
}
