.product-menu-wrapper {
  display: block;
  position: absolute;

  @media all and (max-width: 767px) {
    display: none;
  }
}

.product-colour-wrapper {
  .colour-item {
    display: inline-block;
    text-align: center;

    padding-left: 0;

  }

  .colour-block {
    height: 32px;
    background-position: center;
    background-size: cover;
  }
}

.colour-palette.row {
  margin: 0;
}

.product-title {
  text-transform: uppercase;
}

.product-full-description {
  text-align: left;
}

.similar-product-image {
  height: 164px;
  background-position: center;
  background-size: cover;
}

.similar-product-item {
  display: inline-block;
  cursor: pointer;

  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    transform: scale(1.1);
  }
}

.similar-product-title,
.similar-product-description {
  color: $text-color;
  text-decoration: none;
  text-align: center;
}

.similar-product-title,
.thermostats-products-title {
  margin-bottom: 24px;
}

.product-technische-daten {
  padding-left: 0;

  .tab-button {
    width: 8rem;
    text-align: center;
    background-color: white;
    color: $text-color;

    @media all and (max-width: 360px) {
      padding: 5px;
      width: 7rem;
    }
  }

  li.active .tab-button {
    color: white;
    background-color: $footer-bg;
  }

  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    opacity: 0.9;
    color: white;
    background-color: $footer-bg;
  }

  .tab-content {
    margin: 2rem 0;
    padding-right: 1rem;
  }

  @media all and (max-width: 380px) {

    table {
      font-size: 14px;

      th, td {
        padding: 2px;
      }
    }
  }

}

.size-row {
    width: 100%;

  @media all and (min-width: 700px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.technische-row {
  margin: 2rem 0;


  @media all and (min-width: 992px) and (max-width: 1024px) {
    padding-right: 2rem;
  }

  @media all and (max-width: 1024px) {
    padding-right: 2rem;
  }

}

.technische-container {
  background-color: #b9b8b8;
  padding: 4rem 0;
}

.product-similar {
  padding: 0 16px;
}

.product-main {

  .carousel-wrapper {
    padding-right: 1rem;
  }
}

.product-sizes {
  position: relative;

  @media all and (max-width: 767px) {
    width: 90%;
  }

  &:first-child {
    @media all and (max-width: 991px) {
      margin-bottom: 4rem;
      padding: 0;
    }
  }

  @media all and (max-width: 767px) {
    max-width: 90%;
  }

  @media all and (max-width: 460px) {
    table th {
      word-break: break-all;
    }
  }

  table {
    font-size: 12px;

  }

  th, td {
    border: 1px solid grey;
    text-align: center;
  }

  th {
    padding: 0 4px;

    @media all and (min-width: 768px) and (max-width: 980px) {

    }
  }

}

.product-sizes table,
.product-technische-daten table {
  tr {
    border: 2px white solid;
    color: white;
    border-left: none;
    border-right: none;
    cursor: pointer;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  td, th {
    border: none;
  }
}

.rectangle {
  position: absolute;
  border: 1px solid white;
  background-color: $footer-bg;
  opacity: 0.6;
  color: white;
  padding: 4px;
  cursor: pointer;
}

.sizes-rectangles {
  height: 320px;
}

.active-row {
  background-color: $footer-bg;
}

.active-rectangle {
  opacity: 1;
}

.size-title,
.product-thermostat {
  color: white;
  margin-bottom: 2rem;
  padding-left: 0;

  @media all and (max-width: 767px) {
    max-width: 90%;
  }
}

.product-thermostat {
  margin-bottom: 0;
}

.product-thermostat-item {
  text-align: center;

  @media all and (max-width: 767px) {
    margin-bottom: 2rem;
    text-align: center;
  }
}

.product-thermostat-image {
  margin-bottom: 1rem;
  width: 80%;
   @media all and (max-width: 767px) {
    max-width: 300px;
     margin: 0 auto 1rem auto;
  }
}

.thermostat-product-image {
  background-size: cover;
  background-position: center;
}

.thermostat-product-title,
.thermostat-product-description {
  text-decoration: none;
  color: $text-color;
}

.similar-products-wrapper,
.thermostats-row {
  margin: 4rem 0;
}


.product-description-wrapper {
  margin-bottom: 4rem;
}

.technische-thermostat-container {
  margin-top: 2rem;

  .row {
    margin: 0;
  }
}

.thermostat-product-item {
  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    transform: scale(1.1);
  }
}

.features-product-table {
  tr, td {
    cursor: default;
  }
}
