
.product-menu-wrapper {
  display: block;
  position: absolute;

  @media all and (max-width: 767px) {
    display: none;
  }
}

.product-colour-wrapper {
  .colour-item {
    display: inline-block;
    padding-left: 0;
  }

  .colour-block {
    height: 32px;
    background-position: center;
    background-size: 100% 100%;
  }
}

.colour-palette.row {
  margin: 0;
}

.product-title {
  text-transform: uppercase;
}

.product-full-description-wrapper {
  max-height: 200px;
  overflow: hidden;
  position: relative;

  .arrow-down {
    position: absolute;
    bottom: 0;
    top: unset;
    width: 100%;
    margin: 0;
    padding: 1rem;
    background: linear-gradient(rgba(255, 255, 255, 0.3), white);
    color: #ED6E23;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
}

.product-full-description {
  text-align: left;
}

.similar-product-image {
  height: 164px;
  background-position: center;
  background-size: cover;
}

.similar-product-item {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    transform: scale(1.1);
  }
}

.similar-product-title,
.similar-product-description {
  color: $text-color;
  text-decoration: none;
  text-align: center;
}

.similar-product-title,
.thermostats-products-title {
  margin-bottom: 24px;
}

.product-technische-daten {
  padding-left: 0;

  li {
    @media all and (max-width: 480px) {
      float: none;

      &:last-child {
        margin-left: 0;
        margin-top: 4px;
      }
    }
  }

  .tab-button {
    width: 12rem;
    text-align: center;
    background-color: white;
    color: $text-color;

    @media all and (max-width: 360px) {
      padding: 5px;
      width: 7rem;
    }

  }

  li.active .tab-button {
    color: white;
    background-color: $footer-bg;
  }

  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    opacity: 0.9;
    color: white;
    background-color: $footer-bg;
  }

  .tab-content {
    margin: 2rem 0;
    padding-right: 1rem;
  }

  @media all and (max-width: 380px) {

    table {
      font-size: 14px;

      th, td {
        padding: 2px;
      }
    }
  }
}

.size-row {
  width: 100%;

  @media all and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.technische-row {
  margin: 2rem 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media all and (min-width: 992px) and (max-width: 1024px) {
    padding-right: 2rem;
  }

  @media all and (max-width: 1024px) {
    padding-right: 2rem;
  }
}

.technische-container {
  background-color: #b9b8b8;
  padding: 4rem 0;
}

.product-similar {
  padding: 0 16px;
}

.product-main {
  padding-left: 15px;

}

.product-sizes {
  position: relative;
  font-size: 12px;

  @media all and (max-width: 420px) {
    padding-left: 2px;

  }

  &:last-child {
    @media all and (max-width: 480px) {
      padding-left: 0;
      margin-left: -12px;
    }

    @media all and (min-width: 320px) and (max-width: 420px) {
      width: calc(100vw - 2.1rem);

    }
    @media all and (min-width: 421px) and (max-width: 450px) {
      width: calc(100vw - 2.5rem);

    }

    @media all and (min-width: 451px) and (max-width: 600px) {
      width: calc(100vw - 3.8rem);
    }

    @media all and (min-width: 601px) and (max-width: 700px) {
      width: calc(100vw - 5rem);
    }

    @media all and (min-width: 380px) and (max-width: 420px) {
      //width: calc(100vw-48px);
    }

    @media all and (min-width: 421px) and (max-width: 699px) {
      //width: 100%;
    }
    @media all and (min-width: 700px) and (max-width: 1199px) {
      width: 90%;
    }

  }

  &:first-child {
    @media all and (max-width: 991px) {
      margin-bottom: 4rem;
      padding: 0;
    }

    @media all and (max-width: 600px) {
      margin-bottom: 2rem;
      padding: 0;
    }
  }

  @media all and (max-width: 450px) {
    table th {
      word-break: break-word;
    }
  }

  table {
    font-size: 10px;
    table-layout: fixed;
    width: 110%;

    @media all and (min-width: 1000px) {
      width: 100%;

    }

    @media all and (min-width: 420px) {
      font-size: 12px;

    }

    @media all and (min-width: 600px) {
      font-size: 14px;

    }

    @media all and (min-width: 860px) {
      font-size: 16px;

    }
  }

  th, td {
    border: 1px solid grey;
    text-align: center;
    padding: 0 2px;

    @media all and (min-width: 768px) {
      padding: 0 8px;
    }
  }
}

.product-sizes table,
.product-technische-daten table {

  tr {
    border: 2px white solid;
    color: white;
    border-left: none;
    border-right: none;
    cursor: pointer;

    @media all and (max-width: 900px) {
      height: 32px;
    }

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  td,
  th {
    border: none;
  }
}

.rectangle-wrapper {
  @media all and (max-width: 400px) {
    transform: translateX(-34px) scale(0.8);
  }
}

.rectangle {
  position: absolute;
  border: 1px solid white;
  background-color: $footer-bg;
  opacity: 0.6;
  color: white;
  padding: 4px;
  cursor: pointer;
}

.sizes-rectangles {
  //height: 320px;
}

.active-row {
  background-color: $footer-bg;
}

.active-rectangle {
  opacity: 1;
}

.size-title,
.product-thermostat {
  color: white;
  margin-bottom: 2rem;
  padding-left: 0;

  @media all and (max-width: 767px) {
    max-width: 90%;
  }
}

.size-title {
  @media all and (max-width: 600px) {
    margin-bottom: 0;
  }
}

.product-thermostats {
  margin-bottom: 0;

  @media all and (max-width: 767px) {
    text-align: center;
  }
}

.product-thermostat-item {
  text-align: center;

  @media all and (max-width: 767px) {
    margin-bottom: 2rem;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product-thermostat-image {
  height: 300px;
  width: 80%;
  margin: 1rem auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media all and (max-width: 480px) {
    height: 180px;
  }

  @media all and (max-width: 767px) {
    max-width: 300px;
    margin: 0 auto 1rem auto;
  }
}

.thermostat-product-image {
  background-size: cover;
  background-position: center;
}

.thermostat-product-title,
.thermostat-product-description {
  text-decoration: none;
  color: $text-color;
}

.similar-products-wrapper,
.thermostats-row {
  margin: 4rem 0;
}

.product-description-wrapper {
  margin-bottom: 4rem;
}

.technische-thermostat-container {
  margin-top: 2rem;

  .row {
    margin: 0;
  }
}

.thermostat-product-item {
  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 2;

  @media all and (max-width: 767px) {
    margin: auto;
    padding: 0 2rem;
  }

  &:hover {
    transform: scale(1.1);
    z-index: 4;
  }
}

.features-product-table {
  table {
    table-layout: fixed;
    width: 100%;
  }

  tr,
  td {
    cursor: default;
    word-break: break-all;
  }
}
