#technologyPage {
  overflow: hidden;
}

.description-img-comparison-wrapper {
  //background-color: #bcbdc1;
  overflow: hidden;
}
.description-img-scheme {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;

  @media (min-width: $screen-sm) {
    flex-direction: row;
  }
}

.comparison-row {
  //align-items: center;

  @media all and (max-width: 767px) {
    display: block;
  }

}

.description-img-comparison {
  margin-top: 0;
}

.description-img-comparison .row {

  margin: 0;

  &:nth-child(2n) {
    margin: 0 0 2rem 0;
  }

  &:nth-child(4n) {
    display: flex;
flex-direction: column;
    margin: 0;

    @media (min-width: $screen-sm) {
      flex-direction: row-reverse;
    }
  }

}

.comparison-wrapper-1 {
  padding: 0 0 0 2rem;
}

.comparison-wrapper-2 {
  padding: 0 2rem 0 0;
}

.comparison-text-wrapper {
  margin: 2rem auto;
  max-height: 470px;
  overflow: hidden;
  text-align: justify;
  display: block;

  @media all and (max-width: 767px) {
    height: auto;
    padding: 0;
  }

  .comparison-text {
    margin: 0;
    max-height: 100%;
    text-align: left;
    width: 100%;
  }
  /*

  ::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 6px;
    height: 0px
  }

  ::-webkit-scrollbar-track {
    background-color: #e0dbd0;
    border-radius: 12px;
    box-shadow: 0px 0px 3px #4b4b4b inset;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background-color: #838985;
    box-shadow: 0px 1px 1px #fff inset;
    background-image: url('../img/scroll.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  ::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 7px;
    height: 0px
  }

  ::-webkit-scrollbar {
    width: 11px;
  }*/

  .arrow-down {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    top: unset;
    left: 0;
    right: 0;
    margin: 0;
    padding: 1rem;
    background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,1));
    background: -ms-linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,1));
    color: $footer-bg;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
  }
}
.comparison-title-right {
  float: right;
}

.comparison-title-left {
  float: left;
}

.comparison-title {
  text-align: left;
  padding: 0;

  @media all and (max-width: 767px) {
    float: none;
    padding-left: 0;
  }

  @media all and (max-width: 480px) {
    font-size: 24px;
  }
}



.house-img {
  margin: 0 auto;

  @media all and (min-width: 768px) {
     margin: 2rem auto;
  }
}

.house-description {
  text-align: left;
  padding: 0 8px;
}

.comparison-img {
  align-self: baseline;
  margin: 2rem 0;
  padding: 0;

  @media all and (max-width: 767px) {
    padding: 0;
    margin: 1rem 0;
  }
}

.infrared-house-wrapper,
.convect-house-wrapper {
  display: block;
  width: 50%;

  position: relative;

  @media all and (max-width: 767px) {
    padding: 0;
    width: 100%;
  }
}

.infrared-house-wrapper {
  @media all and (min-width: $screen-sm) {
    padding: 0 0 0 1rem;
  }
}

.convect-house-wrapper {
  @media all and (min-width: $screen-sm) {
    padding: 0 1rem 0 0;
  }
}

.infrared-house-block,
.convect-house-block {
  width: 100%;
  display: block;
}

.infrared-house-block {
  float: right;
}

.convect-house-description,
.infra-house-description {
  max-height: 300px;
}

.convect-house-title,
.infra-house-title {
  text-align: center;
      display: flex;
    align-items: center;

  @media all and (max-width: 400px) {
    font-size: 1rem;
  }

  @media all and (min-width: 768px) {
    height: 65px;
  }

    @media all and (min-width: 768px) and (max-width: 991px) {
    font-size: 22px;
  }
}

