.aliases-container {
  .alias-item {
    padding: 0;
  }


  .alias-item-field-edit {



    @media (min-width: $screen-xs) {
       padding-right: 2rem;
      display: inline-block;
    }

    &.alias-id {
      display: block;
     @media (min-width: $screen-xs) {

      display: inline-block;
    }
    }
  }

  .aliases-container {
    display: block;
  }

  td {
    word-break: break-all;
  }
  td.alias-id {
    word-break: normal;
    word-wrap: break-word;
  }
}
