.login-form-wrapper {
  .row {
    margin-left: 0;
  }

  .form-group,
  .error-form-message {
    @media all and (max-width: 767px) {
      max-width: 480px;
    }
  }

  .error-wrapper {
    width: 100%;
  }
}
