.box-vmargin {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.box-same-vmargin {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.box-mid-margin {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (min-width: 1200px) {
  .container {
    width: 1070px;
  }
}