.box-vmargin {
  margin-top: 4rem;
  margin-bottom: 6rem;

  @media all and (max-width: 768px){
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}

.box-same-vmargin {
  margin-top: 6rem;
  margin-bottom: 6rem;

  @media all and (max-width: 768px){
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.box-same-vpadding {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @media all and (max-width: 768px){
    padding-top: 4rem;
  padding-bottom: 4rem;
  }
}

.box-mid-margin {
  margin-top: 3rem;
  margin-bottom: 3rem;

  @media all and (max-width: 768px){
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.right-padding {
  @media all and (max-width: 820px) {
    padding-right: $nav-panel-width;
  };
}

.contacts.right-padding {
  @media all and (min-width: 992px) and (max-width: 1080px) {
    padding-right: $nav-panel-width;
  }
;
  @media all and (max-width: 767px) {
    padding-right: $nav-panel-width;
  }
;

  @media all and (min-width: 721px) and (max-width: 768px) {
    padding-right: 4rem;
  }
;

  @media all and (min-width: 821px) and (max-width: 850px) {
    padding-right: 4rem;
  }
;
}

.gallery.right-padding {
  padding-right: $nav-panel-width;

  @media all and (max-width: 767px) {
    padding-right: $nav-panel-width + 1rem;
  }

}


.properties-side.right-padding {
  //padding-right: $nav-panel-width;
}