.box-vmargin {
  margin-top: 4rem;
  margin-bottom: 6rem;

  @media all and (max-width: 768px){
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}

.box-same-vmargin {
  margin-top: 6rem;
  margin-bottom: 6rem;

  @media all and (max-width: 768px){
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.box-same-vpadding {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @media all and (max-width: 768px){
    padding-top: 4rem;
  padding-bottom: 4rem;
  }
}

.box-mid-margin {
  margin-top: 3rem;
  margin-bottom: 3rem;

  @media all and (max-width: 768px){
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.box-small-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;

  @media all and (max-width: 768px){
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.box-small-mb {
  margin-bottom: 1rem;

  @media all and (max-width: 768px){
    margin-bottom: 0.5rem;
  }
}


@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.right-padding {
  padding-right: $nav-panel-width;

  @media all and (max-width: 1100px) {
    padding-right: $nav-panel-width;
  }
  @media all and (max-width: 480px) {
    padding-right: $nav-panel-width * 0.85;
  }
}

.contacts.right-padding {
  @media all and (min-width: 992px) and (max-width: 1080px) {
    padding-right: $nav-panel-width;
  }

  @media all and (max-width: 767px) {
    padding-right: $nav-panel-width;
  }


  @media all and (min-width: 721px) and (max-width: 768px) {
    padding-right: 4rem;
  }


  @media all and (min-width: 821px) and (max-width: 850px) {
    padding-right: 4rem;
  }

    @media all and (max-width: 480px) {
  }

}

.gallery.right-padding {
  padding-right: $nav-panel-width;

  @media all and (max-width: 767px) {
    padding-right: $nav-panel-width + 1rem;
  }

  @media all and (max-width: 480px) {
    padding-right: $nav-panel-width * 0.66 + 1rem;
  }

}


.properties-side.right-padding,
.contacts-info-wrapper.right-padding {
  padding-right: $nav-panel-width + 1rem;

  @media all and (max-width: 480px) {
    padding-right: $nav-panel-width * 0.66 + 1rem;
  }
}