.hsmall {
  @media all and (max-width: 380px) {
    font-size: 2rem;
  }
}

.page-header {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0;
  font-size: 1.7rem;
  word-wrap: break-word;

  @media all and (min-width: 600px) {
    font-size: 38px;
  }

  @media all and (min-width: 769px) {
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 3rem;
  }
}
