.navbar {
  border-radius: 0;
}

.menu-link-button {

  padding-right: 0.75rem;

  @media (min-width: $screen-sm) {
    display: none;
  }

}

.menu-link {
  //background-image: $menu-icon;
  //background-color: red;
  display: block;
  width: $menu-button-width;

  //height: $menu-button-height;
  position: relative;
  //height: 0.5rem;
  background-size: 100% 100%;
  cursor: pointer;


  .menu-link-line {
    display: block;
    width: 2rem;
    height: 6px;
    background-size: 100% 100%;
    background-color: $footer-bg;

  }

  .line1,
  .line2 {
    margin-bottom: 0.25rem;
  }
  .line2 {
    margin-bottom: 0.25rem;
  }
  .line3 {
  }

}

.modal-open {
  padding-right: 0 !important;
}

.left-panel {
    transform:  translateY(50%);
  display: inline-block;


}