.left-panel {
  /*position: fixed;
  display: block;
  bottom: 0;
  top: 0;
  left: 0;
  width: $nav-panel-width;
  z-index: 1;
  cursor: pointer;

  @media all and (max-width: 480px) {
    width: $nav-panel-width * 0.66;
  }*/
}

.navbar-right-panel {
  height: 100%;
}