.site-logo-wrapper {
  display: none;

  @media all and (min-width: 1220px) {
    display: block;
    position: fixed;
    top: 1rem;
    width: 110px;
    z-index: 1;
    left: calc(((100vw - 1000px)/2 - 110px)/2);

    a {
      display: block;
    }

    img {
      width: 100%;
    }
  }
}
