.site-logo-wrapper {
  z-index: 2;
  text-align: center;
  display: inline-block;
  float: right;
  //margin-left: auto;

  height: 100%;

  @media (min-width: $screen-md) {
    float: left;
    padding: 0 1rem;
  }

  a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.25rem 0;
  }

  img {
    font-size: 3rem;
    max-height: 100%;
    max-width: calc(100vw - 32px - 44px);
    width: 320px;

    @media (min-width: 1400px)  {
      max-width: 30rem;
      width: 480px;
    }


  }
}
