.site-logo-wrapper {
  z-index: 2;
  text-align: center;
  display: inline-block;
  margin-left: auto;


  float: right;
  height: 100%;

  a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.25rem 0;
  }

  img {
    font-size: 3rem;
    max-height: 100%;
    width: auto;
    max-width: calc(100vw - 32px - 44px);

    @media (min-width: $screen-sm) and (max-width: $screen-lg) {
      max-width: 18rem;
    }
  }
}
