.contact-item {
  border: 1px solid rgba(0, 0, 0, 0.41);
  margin: auto;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.41);
}

.contact-item-wrapper {
  margin-bottom: 0;

  @media all and (max-width: 480px) {
    margin-bottom: 1rem;
  }

}

.contacts {
  padding-right: $nav-panel-width;
}

@for $i from 1 through 4{
  .contact-item#{$i} {
    background: nth($contact-item-icons, $i) no-repeat center center;
    background-size: 40px auto;
    height: 100%;
    width: 100%;
  }
}
