footer {

  .footer-links-wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .footer-links {
    max-width: 720px;
    margin: auto;
  }

  .footer-service-links {
    opacity: 0.5;
    margin: auto;
    max-width: 30rem;
    display: inline-block;
  }

  .footer-link {
    cursor: pointer;
    color: $text-color;
    text-decoration: none;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    display: block;
    width: 100%;

    @media all and (min-width: 480px) {
      width: auto;
    }

  }
}