.registration-properties,
.homepage-properties {
  width: 100%;
  padding: 0;

  .homepage-properties-row,
  .registration-properties-row {
    display: table;
    width: 100%;
  }

  .left-side {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table-cell;
    float: none;
    width: 50%;

    @media (max-width: $screen-sm-min) {
      height: $homepage-properties-image-height;
    }
  }

  .right-side {
    width: 50%;
    padding-right: $nav-panel-width + 0.5rem;
    padding-left: $homepage-properties-padding-mob;

    @media (min-width: $screen-sm-min) {
      width: $container-sm/2;
      padding-left: $homepage-properties-padding-desc;
    }

    @media (min-width: $screen-md-min) {
      width: $container-md/2;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-lg/2 + 200px;
    }

    @media (min-width: $screen-lg-min) {
      width: $container-lg/2 + 200px;
    }

    @media (min-width: 1800px) {
      width: $container-lg/2 + 300px;
    }

    @media (min-width: 2000px) {
      width: $container-lg/2 + 500px;
    }

  }
  .right-side,
  .left-side {
    @media (max-width: $screen-sm-min - 1) {
      width: 100%;
      display: block;
    }
  }

  .property-item-description {
    font-size: $homepage-properties-description-font;
  }

  .property-item {
    position: relative;

    @media (max-width: $screen-sm-min) {
      margin-top: $homepage-properties-item-top-margin;
    }
  }

  .property-item-title {
    font-weight: bold;
    position: relative;
  }

  .property-item1 {
    .property-item-title {
      //margin-top: 0;
    }
  }

  @for $i from 1 through 4 {
    .property-item#{$i} .property-item-image {
      width: 32px;
      height: 32px;
      display: inline-block;
      position: absolute;
      left: -32px * 1.325;
      background-size: cover;
    }
  }

  .property-title {
    padding-top: 36px;
    padding-bottom: 36px;
    margin-top: 0;
  }

  .right-side {
    padding-bottom: 36px;
  }
}

.registration-properties .right-side {
  color: white;
}

.registration-properties .right-side-wrapper {
  background-color: $footer-bg;
}
