.homepage-products-wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh
}

.homepage-product-item {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.homepage-products-bg {
  background-color: rgba(54, 54, 54, 0.5);
}

.homepage-products-row {
  width: 100%;
  margin: 0;
}

.homepage-products {
  padding-right: $nav-panel-width - 1rem;

  @media (min-width: $screen-lg-min) {
    padding-right: 0;
  }

  @for $i from 1 through 5 {

    .item-wrapper {
      padding: $homepage-products-item-padding;
      height: calc((100vh - 12rem - 0.25rem) / 2);
      min-height: $homepage-products-item-height;
    }

    .item-#{$i} {
      height: 100%;
      background-position: center;
      background-size: cover;

      .item-image {

        height: 100%;
        width: 100%;

        &:hover {
          background-color: rgba(54, 54, 54, 0.8);

          .link-to-product {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            color: $link-to-product-color;
            font-weight: bold;
            font-size: $homepage-links-font-size;
            text-decoration: none;
            position: relative;

            .arrow {
              font-size: 3*$font-size-base;
              font-weight: normal;
              padding: 0 6px 6px 6px;
            }
          }

        }
      }

      .link-to-product {
        display: none;
        cursor: pointer;
      }

    }
  }
}

#imageNavMenu {
  display: flex;
  align-items: center;
  overflow: visible;
  
  .modal-dialog {
    height: 90%;
    width: 100%;
  }

  .close {
    border: 1px solid black;
    z-index: 9999;
    border-radius: 16px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.9;
    text-shadow: none;
  }

  .modal-content {
    height: 100%;
  }

  .modal-body {
    position: relative;
  }

  .modal-body,
  .carousel-wrapper {
    height: 100%;
  }

  .carousel-wrapper {
    .clearfix {
      height: 25%;

      #thumbcarousel,
      .carousel-inner,
      .item,
      .thumb-image {
        height: 100%;

      }

      .carousel {
        .carousel {
          margin-top: 20px;
        }

        .large-item {
          height: 450px;
        }

        .thumb-image {
          height: 150px;
        }

        .large-item,
        .thumb-image {
          width: 100%;
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .thumb-image {
          background-size: cover;
        }


        .item .thumb {
          width: 31.2%;
          cursor: pointer;
          float: left;
          margin-right: 3.2%;

          &:last-child {
            margin-right: 0;
          }
        }
        .item .thumb img {
          width: 100%;
          margin: 2px;
        }
        .item img {
          width: 100%;
        }
      }
    }
  }
}

#homepageGalleryCarousel {
  height: 75%;
  padding-bottom: 16px;

  .carousel-inner > .item {
    height: 100%;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  .carousel-inner {
    height: 100%;
  }

}

.imageNavMenuLink {
  height: 100%;
  display: block;
}

.carousel-control {
  opacity: 1;
}
