.homepage-description {
  padding-right: $nav-panel-width;
}

.homepage-description-text {
  display: block;
}

.sign-wrapper {
  float: right;
  max-width: 270px;
  width: 50%;

  img {
    width: 60%;
  }
}
