.modal {
  padding-left: 0 !important;
}

.modal.in .modal-dialog {

  @media (min-width: 400px) {
    min-width: 400px;
  }

}

body.modal-open {
  overflow: visible;
}

.aside-nav-menu {
  .menu-item {
    width: 98%;
    //margin: 8px 0;
    display: inline-block;

    @media all and (min-width: 480px) {
      //   width: 49%;
    }
  }

  .menu-item-link {
    cursor: pointer;
    color: $text-color;
    text-decoration: none;
    padding: 0.25rem;
  }

  .menu-items-wrapper {
    margin: auto 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .modal-dialog {
    float: left;
    height: 100%;
    margin: 0;

  }

  .modal-content {
    z-index: 2;
    min-height: 100%;
    height: auto;
    border-radius: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    position: relative;

  }

  /*.modal-header,
  .modal-body,
  .modal-footer */
  .modal-content {
    background-color: #bbbbbbdb;

  }

  .modal-header {
    height: 3.5rem;
  }

  .modal-title {
    display: inline-block;
  }

  .profile-links {
    float: right;
  }

  .modal-body {
    opacity: 0.95;
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;

  }

  button.close {
    top: 50%;
    right: 2%;
    transform: translateY(-65%) rotate(180deg);
    position: absolute;
    cursor: pointer;
    z-index: 1;
    font-size: 6rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    opacity: 1;
  }

  .lang-link {
    margin-right: 12px;
    color: $text-color;
  }
}

#asideNavMenu.modal.fade:not(.in) .modal-dialog {
  -webkit-transform: translate3d(25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}

#imageNavMenu.modal.fade:not(.in) .modal-dialog {
  transform: translate3d(0, 0, 0);
}

.modal-footer {
  text-align: left;
}

.social-link {
  max-width: 32px;
  max-height: 32px;
  width: 32px;
  display: inline-block;
  margin-right: 10px;

  img {
    width: 100%;
    height: 100%;
  }
}

.modal-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}