.product-menu {
  position: fixed;

  li {
    list-style: none;
    margin-bottom: 10px;
  }

  ul {
    padding-left: 1.3rem;
  }

  a {
    cursor: pointer;
    color: $text-color;
    text-decoration: none;
  }

  .glyphicon {
    margin-left: -16px;
    color: $footer-bg;
  }

  .bold-item {
    font-weight: bold;
  }
}
.product-menu-wrapper {
  position: relative;
  display: block;
}
