.product-menu {
  position: fixed;
  width: 300px;

  @media all and (max-width: 1320px) {
    display: none;
  }

  @media all and (max-width: 1500px) {
    width: 500px;
  }

  @media all and (max-width: 1366px) {
    font-size: 12px;
  }

  li {
    list-style: none;
    margin-bottom: 8px;
  }

  ul {
    padding-left: 1.3rem;
    margin-top: 8px;
  }

  a {
    cursor: pointer;
    color: $text-color;
    text-decoration: none;
  }

  .glyphicon {
    margin-left: -16px;
    color: $footer-bg;
  }

  .bold-item {
    font-weight: bold;
  }
}
.product-menu-wrapper {
  position: relative;
  display: block;
}
