.product {
  .carousel-wrapper {
    margin-bottom: 2rem;

    @media all and (min-width: 660px) {
      margin-bottom: 4rem;
    }
  }

  .carousel {
    margin-top: 40px;
  }

  .carousel-inner {
    height: 100px;
    overflow: visible;
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);

    @media all and (min-width: 400px) {
      height: 120px;
    }

    @media all and (min-width: 560px) {
      height: 150px;
    }

    @media all and (min-width: 660px) {
      height: 200px;
    }
  }

  .large-item {
    height: 180px;

    @media all and (min-width: 400px) {
      height: 230px;
    }

    @media all and (min-width: 560px) {
      height: 350px;
    }

    @media all and (min-width: 660px) {
      height: 560px;
    }

  }

  .thumb-image {
    height: 60px;
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);

    @media all and (min-width: 400px) {
      height: 80px;
    }

    @media all and (min-width: 560px) {
      height: 110px;
    }

    @media all and (min-width: 660px) {
      height: 160px;
    }
  }

  .large-item {
    width: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .thumb-image {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .item .thumb {
    width: 29%;
    cursor: pointer;
    float: left;
    margin-right: 5.2%;
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:last-child {
      margin-right: 0;
    }
  }

  .item .thumb img {
    width: 100%;
    margin: 2px;
  }

  .item img {
    width: 100%;
  }

}

.slider-prod .slick-slide {
  height: 200px;
    background-color: #ffffffcf;

  .item-image {
    height:200px;
     background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;


    @media (min-width: 768px) {
      background-size: cover;
    }
  }


}

.slider-prod {
    .slick-center .item-image {
    transform: scale(1.25);
      box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.72);
  }

  .slick-track {
    padding: 4rem 0;
  }


    .slick-arrow {
      color: $footer-bg;
      font-size: 2rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
  }

  .glyphicon-chevron-left {
    left: 0;
    z-index: 99;
  }

    .glyphicon-chevron-right {
    right: 0;
  }
}

