

.product {
  .carousel-wrapper {
    // margin-bottom: 2rem;
    overflow: hidden;

    @media all and (min-width: 660px) {
      //   margin-bottom: 4rem;
    }
  }

  .carousel {

  }

  .product-carousel-top .carousel-inner {
    margin-bottom: 40px;
    margin-top: 40px;
    height: 240px;
    overflow: visible;
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);

    @media all and (min-width: 400px) {
      height: 280px;
    }

    @media all and (min-width: 560px) {
      height: 340px;
    }

    @media all and (min-width: 660px) {
      height: 460px;
    }
  }

  .large-item {
    height: 200px;

    @media all and (min-width: 400px) {
      height: 250px;
    }

    @media all and (min-width: 560px) {
      height: 370px;
    }

    @media all and (min-width: 660px) {
      height: 580px;
    }

  }

  .thumb-image {
    height: 60px;
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);

    @media all and (min-width: 400px) {
      height: 80px;
    }

    @media all and (min-width: 560px) {
      height: 110px;
    }

    @media all and (min-width: 660px) {
      height: 160px;
    }
  }

  .large-item {



    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;



    @media all and (min-width: 660px) {
      background-size: contain;
    }
  }
  .thumb-image {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .item .thumb {
    width: 29%;
    cursor: pointer;
    float: left;
    margin-right: 5.2%;

    &:nth-child(2) {
      //transform: scale(1.85);
      //z-index: 999;

    }

    &:last-child {
      margin-right: 0;
    }
  }

  .item .thumb img {
    width: 100%;
    margin: 2px;
  }

  .item img {
    width: 100%;
  }

  .item {
    height: 100%;
  }

  #thumbcarousel {
    width: 103%;
    margin-bottom: 40px;
}
}
/*
.slider-prod .slick-slide {
  max-height: 200px;
  height: auto;
  background-color: #ffffffcf;

  margin: 3rem 0;
  .item-image {
    max-height: 200px;
    height: auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline;
    @media (min-width: 768px) {
      background-size: cover;
    }
  }

}

.slick-slide {
  text-align: center;
  //width: 30%!important;
      display: block;
    position: relative;
}

.slider-prod {
  .slick-center .item-image {
    //transform: scale(1.85);

    @media all and (min-width: 768px) {
      box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.72);
    }
  }

  .slick-track {
    padding: 4rem 0;
    @media all and (min-width: 660px) {
      padding: 9rem 0;
    }
  }

  .slick-arrow {
    color: $footer-bg;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .glyphicon-chevron-left {
    left: 0;
    z-index: 99;
  }

  .glyphicon-chevron-right {
    right: 0;
  }
}


.slider-prod {
  .item-image {
  height: 300px;
  }

}

.slick-current img {
      position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: scale(1.85);
    bottom: 0;
}

.item-gallery {
  //width: 30%!important;
}*/