.product {
  .carousel-wrapper {
    margin-bottom: 4rem;
  }

  .carousel {
    margin-top: 20px;
  }

  .large-item {
    height: 180px;

    @media all and (min-width: 400px) {
      height: 230px;
    }

    @media all and (min-width: 560px) {
      height: 340px;
    }

    @media all and (min-width: 660px) {
      height: 450px;
    }


  }

  .thumb-image {
    height: 60px;

    @media all and (min-width: 400px) {
      height: 80px;
    }


     @media all and (min-width: 560px) {
      height: 110px;
    }

    @media all and (min-width: 660px) {
      height: 150px;
    }
  }

  .large-item,
  .thumb-image {
    width: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .thumb-image {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .item .thumb {
    width: 31.2%;
    cursor: pointer;
    float: left;
    margin-right: 3.2%;

    &:last-child {
      margin-right: 0;
    }
  }
  .item .thumb img {
    width: 100%;
    margin: 2px;
  }
  .item img {
    width: 100%;
  }


}