h1 {
  //font-family: 'Oswald', sans-serif;
  color: $text-header-color;
  opacity: 0.8;
  font-size: 2.5rem;

  @media all and (min-width: 480px) {
    font-size: 3.5rem;
  }
}

h3 {
  @media all and (max-width: 480px) {
    font-size: 21px;
  }
}

