$homepage-properties-image-height: 300px;
$homepage-properties-padding-mob: 3.4rem;
$homepage-properties-padding-desc: 5rem;
$homepage-properties-description-font: 16px;
$homepage-properties-item-top-margin: 1rem;
